body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

#artCanvas {
  background-color: #f9f9f0;
}

#description {
  position: fixed;
  top: 20px; /* Aligns the element to the top edge of the window */
  left: 20px; /* Aligns the element to the left edge of the window */
  max-width: 470px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  font-size: 24px;
}

#detail {
  margin-top: 18px;
  max-width: 300px;
  font-size: 16px;
}

#links {
  margin-top: 22px;
  width: 400px;
  font-size: 16px;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: black;
  text-decoration-line: none;
}